@import url('./base.css');
@import url('./theme.css');

#app {
  margin: 0 auto;
}

/* 板块标题 */
.section-title {
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--ah-c-text1);
}

/* svg图标属性 */
.svg-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 0.6rem;
  height: 0.6rem;
}

/* svg图标颜色随主题切换 */
.svg-icon-color {
  fill: var(--ah-c-text1);
}

@media screen and (width <=1100px) {
  .section-title {
    font-size: 0.6rem;
  }
}

@keyframes show-animation {
  50% {
    width: 40%;
  }
}


@keyframes hide-animation {
  50% {
    width: 40%;
  }
}