/* stylelint-disable comment-empty-line-before */
html {
  font-size: 50px;
  background-color: var(--ah-c-background-soft);
}

/* ----- 默认配置 ----- */
:root {
  /* 动画时间 */
  --ah-t-quick: 0.1s;
  --ah-t-short: 0.2s;
  --ah-t-long: 0.3s;
  --ah-t-slow: 0.4s;
  --ah-t-slower: 0.5s;

  /* 备选颜色，不要直接使用，而作为主题配置 */
  --ah-c-white: #ffffff;
  --ah-c-black: #181818;
  --ah-c-light-1: #fcfcfc;
  --ah-c-light-2: #eaeaea;
  --ah-c-light-3: #c2c2c2;
  --ah-c-gray-1: #a8a8a8;
  --ah-c-gray-2: #7f7f7f;
  --ah-c-gray-3: #5f5f5f;
  --ah-c-dark-1: #3f3f3f;
  --ah-c-dark-2: #252525;
  --ah-c-dark-3: #0f0f0f;
  --ah-tc-1: #ffffffd9;
  --ah-tc-2: #00000099;
  --ah-tc-3: #20293a66;
  --ah-c-primary: #111729;
  --ah-c-secondary: #20293a;
  --ah-c-third: #858cfa;
  
  /* 极光配置 */
  --stripes: repeating-linear-gradient(100deg,
  var(--ah-c-white) 0%,
  var(--ah-c-white) 7%,
  transparent 10%,
  transparent 12%,
  var(--ah-c-white) 16%);
  --stripes-dark: repeating-linear-gradient(100deg,
  #000000 0%,
  #000000 7%,
  transparent 10%,
  transparent 12%,
  #000000 16%);
  --rainbow: repeating-linear-gradient(100deg,
  #60a5fa 10%,
  #e879f9 10%,
  #60a5fa 20%,
  #5eead4 25%,
  #60a5fa 30%);
  --filter: blur(10px) invert(100%);
  --filter-dark: blur(10px) opacity(50%) saturate(200%);  
}

/* ----- 浅色主题 ----- */ 
/* stylelint-disable-next-line no-duplicate-selectors */
:root {  
  /* 阴影 */
  --ah-s-shadow-1: 0 0 0.4rem var(--ah-c-light-3);
  --ah-s-shadow-2: 0 .05rem .4rem var(--ah-tc-1);
  
  /* 颜色 */
  --ah-c-text1: var(--ah-c-dark-3); /* 特别深色 */
  --ah-c-text2: var(--ah-c-dark-1); /* 主要文字：标题，图标，文案 */
  --ah-c-text3: var(--ah-c-gray-3); /* 次要文字：小标题，标语 */
  --ah-c-text4: var(--ah-c-light-3); /* 弱提示：时间，提示 */
  --ah-c-background-card: var(--ah-c-white); /* 卡片 */
  --ah-c-background-soft: var(--ah-c-light-1); /* 主要背景 */
  --ah-c-background-transparent: var(--ah-tc-1); /* 透明背景 */
  --stripes-style: var(--stripes);
  --stripes-filter: var(--filter);
  --ah-bg-project: linear-gradient(105deg, transparent 75%, var(--ah-c-background-card) 85%) center;
}

/* 深色主题 */
.dark-theme {
  /* 阴影 */
  --ah-s-shadow-1: 0 0 0.4rem var(--ah-c-dark-2);
  --ah-s-shadow-2: 0 .05rem .4rem var(--ah-tc-2);
  
  /* 颜色 */
  --ah-c-text1: var(--ah-c-white); /* 特别深色 */
  --ah-c-text2: var(--ah-c-light-1); /* 主要文字：标题，图标，文案 */
  --ah-c-text3: var(--ah-c-light-2); /* 次要文字：小标题，标语 */
  --ah-c-text4: var(--ah-c-gray-1); /* 弱提示：时间，提示 */
  --ah-c-background-card: var(--ah-c-secondary); /* 卡片 */
  --ah-c-background-soft: var(--ah-c-primary); /* 主要背景 */
  --ah-c-background-transparent: var(--ah-tc-3); /* 透明背景 */
  --stripes-style: var(--stripes-dark);
  --stripes-filter: var(--filter-dark);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-width: 7.2rem;
  min-height: 100vh;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}
